{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
                <br>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Identifiez-vous</h1>

        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        </div>
        <br>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-success">
            Connexion
        </button>
        <a class="btn btn-primary me-md-2" href="{{ path('app_main') }}">{{ 'action.back'|trans }}</a>
    </form>
            <br>
        </div>
    </section>
</main>
{% endblock %}
