{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
        <br>
        <h1>Supprimer un Pays</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <td>{{ pay.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.name'|trans }}</th>
                    <td>{{ pay.name }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-block">
            <form method="post" action="{{ path('app_pays_delete', {'id': pay.id}) }}" onsubmit="return confirm('Vous êtes sûr le point de supprimer un pays, voulez-vous continuer ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.id) }}">
                <a class="btn btn-primary me-md-2" href="{{ path('app_pays_index') }}">{{ 'action.back'|trans }}</a>
                <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
            </form>
        </div>
        <br>
        </div>
    </section>
</main>
{% endblock %}
